// Body
$body-bg: #f8fafc;

$flag-icon-css-path: '~flag-icon-css/flags';
$include: en, fr;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
